<ion-header [translucent]="true">
  <ion-toolbar color="quad">
    <ion-title class="title-typeface">Amend an order</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" fill="solid" (click)="dismissModal()">Close
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

@if (!dataAvailableOrder) {
  <ion-content>
    <ion-spinner name="lines" color="tertiary" class="spinner-centre-screen"></ion-spinner>
  </ion-content>
}

@if (dataAvailableOrder && isSheetActive(1)) {
  <ion-content>
    <ion-list class="ion-no-padding">
      <ion-item [color]="sideColour" class="text-centre text-xlarge">
        {{orderDetails?.side}}
        <ion-label class="text-xsmall text-right ion-padding-end">{{orderDetails?.orderId}}</ion-label>
      </ion-item>
      <app-standard-security-control [securityCode]="tradingSymbol?.code" [showCodeNamePrice]="true" [showAuction]="false" [showExtended]="false" [showBest]="true" [showOhlc]="false">
      </app-standard-security-control>
      <ion-item>
        <ion-grid class="ion-no-padding padding-vertical-small">
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-label>
                <p class="field-heading">Trading account</p>
              </ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-label color="primary" class="text-large">
                {{orderDetails?.accountIdDisplay}}
                <p color="medium" class="text-xsmall">{{orderDetails?.accountName}}</p>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid class="ion-no-padding padding-vertical-small">
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-label>
                <p class="field-heading">Route</p>
              </ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-label>
                {{orderDetails?.route}}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid class="ion-no-padding padding-vertical-small">
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-label>
                <p class="field-heading">Order type</p>
              </ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-label>
                {{orderDetails?.orderType}}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid class="ion-no-padding padding-vertical-small">
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-label>
                <p class="field-heading">Time in force</p>
              </ion-label>
            </ion-col>
            <ion-col size="5">
              <ion-label>
                {{orderDetails?.timeInForce}}
              </ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label class="">
                <p class="field-heading">Expiry date</p>
                {{orderDetails?.expiryDateDisplay}}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid class="ion-no-padding padding-vertical-small">
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-label>
                <p class="field-heading">Placed quantity</p>
              </ion-label>
            </ion-col>
            <ion-col size="5">
              <ion-label color="primary" class="text-xlarge">
                {{orderDetails?.placedQuantityDisplay}}
              </ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label class="">
                <p class="field-heading">Untraded</p>
                {{orderDetails?.untradedQuantityDisplay}}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      @if (!linkLimitValueDisabled) {
        <ion-item>
          <ion-grid class="ion-no-padding padding-vertical-small">
            <ion-row class="ion-align-items-center">
              <ion-col size="4">
                <ion-label>
                  <p class="field-heading">Placed price</p>
                </ion-label>
              </ion-col>
              <ion-col size="8">
                <ion-label color="primary" class="text-xlarge">
                  {{orderDetails?.placedPriceDisplay}}
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      }
      <ion-item>
        <ion-grid class="ion-no-padding padding-vertical-small">
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-label>
                <p class="field-heading">Traded</p>
              </ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-label class="">
                {{orderDetails?.tradedQuantityDisplay}}
              </ion-label>
            </ion-col>
            <ion-col size="1">
              <ion-label class="text-xsmall">
                &#64;
              </ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label class="">
                {{orderDetails?.tradedPriceDisplay}}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-divider color="primary">
        <ion-label>New quantity/price</ion-label>
        <ion-label slot="end" class="text-xlarge">{{updatedValue}}</ion-label>
        <ion-label slot="end" class="text-small ion-padding-horizontal">
          <p class="field-heading-on-background">Change</p>
          {{deltaValue}}
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-grid class="ion-no-padding padding-vertical-small">
          <ion-row class="ion-align-items-center">
            <ion-col size="3">
              <ion-label #qtyLabel>
                <p class="field-heading">Quantity</p>
              </ion-label>
            </ion-col>
            <ion-col size="9">
              @if (highlightingErrorText && linkTotalQuantityError) {
                <ion-badge color="danger" class="floating-bubble-0">{{linkTotalQuantityErrorMessage}}</ion-badge>
              }
              <ion-input inputmode="numeric" placeholder="How many shares" aria-labelledby="qtyLabel" type="number" [(ngModel)]="linkTotalQuantity" [ngClass]="{'input-error': linkTotalQuantityError}"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        @if (linkTotalQuantityError) {
          <ion-icon slot="end" color="warning" name="alert-circle"></ion-icon>
        }
        @if (!linkTotalQuantityError) {
          <ion-icon slot="end" color="medium" name="checkmark"></ion-icon>
        }
      </ion-item>
      <ion-item [disabled]="linkLimitValueDisabled">
        <ion-grid class="ion-no-padding padding-vertical-small">
          <ion-row class="ion-align-items-center">
            <ion-col size="3">
              <ion-label #priceLabel>
                <p class="field-heading">Price</p>
              </ion-label>
            </ion-col>
            <ion-col size="9">
              @if (highlightingErrorText && linkLimitValueError) {
                <ion-badge color="danger" class="floating-bubble-0">{{linkLimitValueErrorMessage}}</ion-badge>
              }
              <ion-input inputmode="decimal" placeholder="What price" aria-labelledby="priceLabel" type="number" step="0.01" [(ngModel)]="linkLimitValue" [ngClass]="{'input-error': linkLimitValueError}"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        @if (linkLimitValueError) {
          <ion-icon slot="end" color="warning" name="alert-circle"></ion-icon>
        }
        @if (!linkLimitValueError) {
          <ion-icon slot="end" color="medium" name="checkmark"></ion-icon>
        }
      </ion-item>
      @for (balance of accountBalances; track balance; let first = $first) {
        <ion-item-divider color="primary">
          @if (first) {
            <ion-label>Available funds</ion-label>
          }
          <ion-label slot="end" class="ion-margin-end">{{balance.tradingDisplay}} {{balance.currency}}</ion-label>
        </ion-item-divider>
      }
    </ion-list>
    @if (anyErrors) {
      <ion-fab vertical="bottom" horizontal="start" edge="true" slot="fixed">
        @if (highlightingErrorText) {
          <ion-fab-button color="warning">
            <ion-icon name="close" (click)="highlightErrors(false)"></ion-icon>
          </ion-fab-button>
        }
        @if (!highlightingErrorText) {
          <ion-fab-button color="warning">
            <ion-icon name="alert" (click)="highlightErrors(true)"></ion-icon>
          </ion-fab-button>
        }
      </ion-fab>
    }
  </ion-content>
}

@if (dataAvailableOrder && isSheetActive(2)) {
  <ion-content>
    <ion-list>
      <ion-item [color]="sideColour" class="text-xlarge">
        {{orderDetails?.side}}
      </ion-item>
      <ion-item>
        <ion-grid class="ion-no-padding padding-vertical-small">
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-label>
                <p class="field-heading">Status</p>
              </ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                <p class="text-xlarge" [ngClass]="{'text-bad':placedStatusBad,'text-good':placedStatusGood}">{{placedStatus}}</p>
              </ion-label>
            </ion-col>
            <ion-col size="1" class="text-right">
              @if (placedStatusGood) {
                <ion-icon class="ion-no-margin text-xlarge" name="checkmark-done" color="success"></ion-icon>
              }
              @if (placedStatusBad) {
                <ion-icon class="ion-no-margin text-xlarge" name="close" color="danger"></ion-icon>
              }
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid class="ion-no-padding padding-vertical-small">
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-label>
                <p class="field-heading">Order ID</p>
              </ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-label color="primary">
                {{placedOrderId}}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item lines="none">
        <ion-grid class="ion-no-padding padding-vertical-small">
          @for (errorText of placeOrderRequestErrors; track errorText; let firstRec = $first; let stepNum = $index) {
            <ion-row class="ion-align-items-center">
              <ion-col size="4">
                @if (firstRec) {
                  <ion-label>
                    <p class="field-heading">Actions</p>
                  </ion-label>
                }
              </ion-col>
              <ion-col size="8">
                <ion-label color="medium">
                  <p class="ion-no-margin text-small">{{stepNum+1}}. {{errorText}}</p>
                </ion-label>
              </ion-col>
            </ion-row>
          }
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-content>
}

<ion-footer>
  @if (dataAvailableOrder && isSheetActive(1)) {
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button color="secondary" fill="solid" (click)="nextSheet()" [disabled]="anyErrors">
          <ion-icon slot="end" name="chevron-forward"></ion-icon>
          Amend
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  }

  @if (dataAvailableOrder && isSheetActive(2)) {
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button color="secondary" fill="solid" (click)="dismissModal()">
          <ion-icon slot="end" name="close"></ion-icon>
          Close
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  }
</ion-footer>
