ion-item {
    --highlight-color-focused: var(--ion-color-primary);
    --highlight-color-invalid: var(--ion-color-primary);
    --highlight-color-valid: var(--ion-color-primary);
    --highlight-height: 2px;
    --background-focused: var(--ion-color-primary);
}