.balances-cap-width {
    max-width: 576px; // md breakpoint
    margin-left: 0;
}

.chip-button-margin {
    margin-left: 20px;
}

.margin-horizontal-small-button {
    margin-left: 12px;
    margin-right: 4px;
}