.bg-image {
    opacity: .05;
}

.viewport-v100 {
    height: 100vh;
}

.viewport-v05 {
    height: 5vh;
}

.viewport-v10 {
    height: 10vh;
}

.viewport-v15 {
    height: 15vh;
}

.viewport-v20 {
    height: 20vh;
}

.viewport-h50 {
    width: 50vw;
    max-width: 500px;
}
