.increase {
    color: var(--ion-color-success-tint);
}

.decrease {
    color: var(--ion-color-danger-tint);
}

.change-container {
    padding-left: 4px;
    padding-right: 4px;
    background-color: var(--ion-color-step-100);
    border-radius: 2px;
}

.heading-price-margin {
    margin-left: 8px;
}