<ion-content fullscreen>
    <ion-grid class="viewport-v100">
        <ion-row class="viewport-v10">
            <ion-col size="auto"></ion-col>
        </ion-row>
        <ion-row class="viewport-v20 ion-align-items-end">
            <ion-col size="auto" class="align-centre">
                <ion-img class="viewport-v20" src="assets/images/sad.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row class="viewport-v10">
            <ion-col size="auto"></ion-col>
        </ion-row>
        <ion-row class="viewport-v10">
            <ion-col size="auto" class="align-centre">
                <ion-text color="dark">
                    <h1>404</h1>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="viewport-v05 ion-align-items-end">
            <ion-col size="auto" class="align-centre">
                <ion-text color="medium">Sorry, we can't find that page.</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="viewport-v10 ion-align-items-end">
            <ion-col size="auto" class="align-centre">
                <ion-button class="viewport-h50" routerDirection="root" [routerLink]='"/landing"' color="tertiary">Go back home</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
